################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoldFrontend/v15
/WorldMap
/GoldChart/my-app/node_modules
/GoldChart/ClientApp/node_modules
/.vs/GoldFrontend
