<div id='jqxChartGold' class="diagramm">
    <jqxChart (onRangeSelectionChanging)="chartChange($event)"
              [width]="getWidth()" [height]="500"
              [title]="'Gold Stock Price'"
              [description]="'(June 2010 - March 2018)'"
              [enableCrosshairs]="true" [enableAnimations]="true" [padding]="padding" [xAxis]="xAxis"
              [titlePadding]="titlePadding" [source]="dataAdapter" [animationDuration]="1500"
              [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
    </jqxChart>
</div>
<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>


